body {
	background: #eeedec;
	letter-spacing: 0.2rem;
	font-size: 0.8rem;
}
.container {
	max-width: 400px;
}
.icon {
	position: relative;
	top: -50px;
	border-radius: 50%;
	width: 100px;
	margin-bottom: -50px;
}
